{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main_html.css' %}">
</head>
<body>
    <div class="container">
        <div class="customer">
            <img src="{% static 'images/customer_.jpeg' %}" alt="Error" class="customer_logo">
            <h3>Customer</h3>
            <button class="customer-button">
                <a href="{% url 'main:index_main' %}">
                    <img src="{% static 'images/enter.png' %}" alt="Error" class="enter_logo">
                </a>
            </button>
        </div>
        <div class="worker">
            <img src="{% static 'images/worker_.png' %}" alt="Error" class="worker_logo">
            <h3>
                Worker
            </h3>
            <button class="worker-button">
                <img src="{% static 'images/enter.png' %}" alt="Error" class="enter_logo">
            </button>

        </div>
    </div>
</body> 
</html>